/* changed up colors and text styles to add some fun */

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #845289;

  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #fcfafc;
    border-left: 1px solid #f9f7f9;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid rgb(249, 214, 248);
  }
  
  .hour {
    background-color: #845289;
    color: #fcfcfc;
    border-top: 1px dashed #845289;
  }
  
  .past {
    background-color: #e2c3df;
    color: white;
  }
  
  .present {
    background-color: #da0593;
    color: white;
  }
  
  .future {
    background-color: #96bc96;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #845289;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  